<ion-header *ngIf="detallePersonaje">
  <ion-toolbar>
    <ion-title>{{ detallePersonaje.nombre }} {{ detallePersonaje.apellido }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="regresar()">Regresar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="detallePersonaje">
    <img [src]="detallePersonaje.imagen" alt="imagen" style="width: 100%;" *ngIf="detallePersonaje.imagen">

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Descripción</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              {{ detallePersonaje.descripcion }}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Estadísticas</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item>
                  <img src='../../../assets/img/heart.png' alt="health icon" class="icono">
                  <ion-label>Salud</ion-label>
                  <ion-note slot="end" color="primary">{{ detallePersonaje.salud }}</ion-note>
                </ion-item>
                <ion-item>
                  <img src='../../../assets/img/espada.png' alt="damage icon" class="icono">
                  <ion-label>Daño</ion-label>
                  <ion-note slot="end" color="primary">{{ detallePersonaje.salud }}</ion-note>
                </ion-item>
                <ion-item>
                  <img src='../../../assets/img/ejecutar.png' alt="speed icon" class="icono">
                  <ion-label>Velocidad</ion-label>
                  <ion-note slot="end" color="primary">{{ detallePersonaje.velocidad }}</ion-note>
                </ion-item>
                <ion-item>
                  <img src="../../../assets/img/bomba.png" alt="armas icon" class="icono">
                  <ion-label>Armas</ion-label>
                  <ion-note slot="end" color="primary">{{ detallePersonaje.armas }}</ion-note>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer no-border *ngIf="detallePersonaje">
  <ion-toolbar>
    <ion-button expand="full" (click)="regresar()">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      Regresar
    </ion-button>
  </ion-toolbar>
</ion-footer>
